<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <%= favicon_link_tag %>
  </head>

  <body>
    このページは、さっき作ったVM内で動いているRailsで生成された画面です　やったね<br>
    <br>
    ブラウザ ← unicorn ← Rails ← (MySQL, Redis)<br>
    <br>
    <%= @user[:name] %><br>
    <br>
    <%= @redis_test_data %>
  </body>
</html>
